*{
    margin: 0px;
    padding: 0x;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(220,220,255);
}

h1{
    margin-top: 30px;
}


.game{
    padding: 0px;
    display: flex;
}

#hero,#monster,#mage,#mini-monster{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.bar{
    width: 300px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.bar-life{
    width: 10%;
    background-color: red;
    height: 98%;
    border-radius: inherit;
}

.name{
    font-size: 25px;
    margin-top: 10px;
    font-weight: 700;
}


.attack{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(11, 196, 11);
    border: 0px;
    box-shadow: 0px 0px 10px #aaa;
    width: 150px;
    cursor: pointer;
    margin-left: 10px;
}

.attack:hover{
    scale: 1.05;
    background-color: rgb(25, 156, 25);
}

.log{
    width: 90vw;
    height: 300px;
    border: 2px dotted #999;
    overflow-y: scroll;
    padding: 10px;
}

.cure{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 180, 251);
    border: 0px;
    box-shadow: 0px 0px 10px #aaa;
    width: 150px;
    cursor: pointer;
}

.cure:hover{
    scale: 1.05;
    background-color: rgb(0, 150, 231);
}

@media screen and (max-width: 450px) {
    .game{
        max-width: 425px;
        overflow: hidden;
    }

    .bar{
        width: 100px;
        margin-top: 20px;
    }

    .name{
        font-size: 13px;
        margin-top: 10px;
        font-weight: 700;
    }

    #hero,#monster,#mage,#mini-monster{
        display: flex;
        flex-direction: column;
        padding: 2px;
        
    }

    #hero{
        margin-left: 10px;
    }

    .attack{
        padding: 5px;
        width: 100px;
       
    }

    .cure{
        padding: 5px;
        width: 100px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    
    
}

